# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# ML models
*.pkl
*.pickle
*.joblib
*.h5
*.keras
*.pt
*.pth

# Large datasets
*.csv
*.parquet
*.zip
*.tar
*.gz

# Dataset folders
Data/
data/
datasets/

# Model folders
models/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Logs
*.log